GALILEA_APPS_SCRIPT_API_URL=https://script.google.com/macros/s/DEPLOYMENT_ID/exec
GALILEA_APPS_SCRIPT_ADMIN_URL=https://script.google.com/macros/s/DEPLOYMENT_ID/exec
GALILEA_API_SECRET=PASTE_SECRET_DARI_EXECUTION_LOG_APPS_SCRIPT
